/* styling the header */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
    --base-color: #ffffff; 
    --text-color: #000000; 
    --primary-color: #ffc06e;
    --secondary-color: #8D8DFF;
    --color-1: #F9F6F3;
    --color-2: #F3F7F9;
    --color-3: #F6F3F9;
}

* {
    margin: 0;
    padding: 0; 

    /* makes sure padding and borders dont mess up size calculations */
    box-sizing: border-box;

}

html {
        color: var(--text-color)
}

/* styling the body */ 

body {
    min-height: 100vh;
    padding: 1em;
    background-color: var(--base-color);
}

/* styling the headers */ 
h1, h2, h3 {
    font-family: Merriweather, Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100;
    padding: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
}


header, section {
    margin: 2em auto; 
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    /* adds the curve on the box */ 
    border-radius: 1em;
}

/* container that holds both the image and the text */ 

.flex-container{
    display: flex; /* display elements side by side */
    justify-content: center; /* alligns everything horizontally in the center */ 
    align-items: center;  /* alligns everything vertically in the center */
    flex-wrap: wrap;  /* allows to stack on smaller screens */
    gap: 3em;
}

.flex-container img{
    border-radius: 1em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover; 
    object-position: bottom;  /* if we must crop then keep the bottom part */
}

.text-container{ 
    flex: 0 1 34em; /* grow behaviour, shrink (set to one = shrink if needed), preferred width */
}

h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0; 
    font-size: 1.25rem;
}

.cta-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary{
    background-color: var(--secondary-color);
}

section{
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
}

.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr); /*how many columns we want to have, here 
    4 collumns each 1 fraction of the available space */
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
    "img-1 img-4 img-3 img-2"
    "img-1 img-4 img-6 img-5";
    gap: 1em;
}

.grid-container img{
    height: 100%;
    width: 100%;
    border-radius: 1em;
    transition: 100ms ease;
}

.grid-container img:hover{
    scale: 1.05;
}

details{
    margin-top: 1em;
    background-color: var(--base-color);
    border-radius: 1em;
}

details summary{
    padding: 1em;
    font-size: 1.7rem;
    font-family: Merriweather, Poppins, "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details p{
    padding: 0 2em 2em 2em;
}

footer{
    padding-bottom: 1.5em;
    text-align: center;
}

footer a{
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover{
    text-decoration: underline;
}

@media(max-width: 988px){
    header{
        text-align: center;
    }

    header.text-container{
        padding: 0;
    }
}

@media(max-width: 640px){
    nav li{
        display: none;
    }
    nav li:first-child,
     nav li:last-child{
        display: block;
    }
    header {
        margin-top: 0;
    }

    .cta-button{
        margin-top: .5em;
        width: 100%;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
    }

    .text-container p{
        font-size: 1rem;
    }

    h2{
        font-size: 1.5rem;
    }

}